# Lombok project configuration
# https://projectlombok.org/features/configuration

config.stopBubbling = true

# 生成方法时添加 @Generated 注解
lombok.addGeneratedAnnotation = true

# 日志配置: 使用 Slf4j
lombok.log.fieldName = log

# Accessors 默认链式调用
lombok.accessors.chain = false

# toString 包含调用 super
lombok.toString.callSuper = CALL

# equals/hashCode 调用 super
lombok.equalsAndHashCode.callSuper = CALL
